{% extends "home/base.html" %}
{% load humanize %}

{% block head %}
{{form.media}}
		<!--<link rel="shortcut icon" href="/static/assets/plugins/custom/sweetalert2/dist/sweetalert2.min.css" />-->
{% endblock %}

{% block content %}
<!--end::Subheader-->
<div class="content flex-column-fluid" id="kt_content">
    <div class="row">
        <div class="col-md-12">

            <!--begin::Card-->
            <div class="card card-custom gutter-b example example-compact">
                <div class="card-header">
                    <h3 class="card-title">Gelir-Gider Türü Oluştur</h3>

                </div>
                <!--begin::Form-->
                {%if instance%}
                    <form action="/expense/{{instance.slug}}/update" method="post" enctype="multipart/form-data" novalidate>
                {%else%}
                    <form action="/expense/create" method="post" enctype="multipart/form-data" novalidate>
                {%endif%}
                        {% csrf_token %}
                        {{form.office}}
                        {{form.other}}
                        {{form.tax}}
                    <div class="card-body">

                        <div class="form-group">
                            <label>Başlık
                            <span class="text-danger"></span></label>
                            {{form.title}}
                            {%for error in form.title.errors%}
                            <div class="validated">
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            </div>
                            {%endfor%}
                            <span class="form-text text-muted">Gelir veya Gider Başlığını Girin.</span>
                        </div>

                        <div class="form-group">
                            <label>Tür
                            <span class="text-danger"></span></label>
                            {{form.type}}
                            {%for error in form.type.errors%}
                            <div class="validated">
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            </div>
                            {%endfor%}
                            <span class="form-text text-muted">Gelir veya Gider Türünü Seçin.</span>
                        </div>


                        <div class="form-group">
                            <label>Açıklama</label>
                            {{form.description}}
                            <span class="form-text text-muted">Açıklama Girin.</span>
                            {%for error in form.description.errors%}
                              <div class="invalid-feedback">{{error}}</div>
                            {%endfor%}
                        </div>


                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary mr-2" type="submit">Kaydet</button>
                        <button type="reset" onClick="window.location.reload();" class="btn btn-secondary">İptal</button>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Card-->

        </div>
    </div>

</div>
<!--end::Content-->
{% endblock %}

{% block script %}
<script>
    document.getElementById("id_office").style.display = "none";
    document.getElementById("id_other").style.display = "none";
    document.getElementById("id_tax").style.display = "none";

</script>
<!--<script type="text/javascript">-->
<!--$('#id_other').style.display = "none";-->
<!--$('#id_office').style.display = "none";-->
<!--$('#id_tax').style.display = "none";-->
<!--</script>-->
<!--<script src="/static/assets/js/sweetalert_init.js"></script>-->
<!--<script src="/static/assets/plugins/custom/sweetalert2/dist/sweetalert2.min.js"></script>-->
  {% endblock %}