{% extends "home/base.html" %}
{% load humanize %}

{% block head %}
{{form.media}}
		<!--<link rel="shortcut icon" href="/static/assets/plugins/custom/sweetalert2/dist/sweetalert2.min.css" />-->
{% endblock %}

{% block content %}
<!--end::Subheader-->
<div class="content flex-column-fluid" id="kt_content">
    <div class="row">
        <div class="col-md-12">

            <!--begin::Card-->
            <div class="card card-custom gutter-b example example-compact">
                <div class="card-header">
                    <h3 class="card-title">Dava Dosyası Oluştur</h3>

                </div>
                <!--begin::Form-->
                {%if instance%}
                    <form action="/case/{{instance.slug}}/update" method="post" enctype="multipart/form-data" novalidate>
                {%else%}
                    <form action="/case/create" method="post" enctype="multipart/form-data" novalidate>
                {%endif%}
                        {% csrf_token %}
                    <div class="card-body">

                        <div class="form-group">
                            <label>Başlık
                            <span class="text-danger">*</span></label>
                            {{form.title}}
                            {%for error in form.title.errors%}
                            <div class="validated">
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            </div>
                            {%endfor%}
                            <span class="form-text text-muted">Dosyanın Başlığını Girin.</span>
                        </div>

                        <div class="form-group">
                            <label>Dosya Numarası</label>
                            {{form.case_id}}
                            <span class="form-text text-muted">Dosyanın Numarasını Girin.</span>
                            {%for error in form.case_id.errors%}
                                <div class="invalid-feedback">{{error}}</div>
                              {%endfor%}
                        </div>

                        <div class="form-group">
                            <label>Durum</label>
                            {{form.status}}
                            <span class="form-text text-muted">Dosya Durumunu Seçin.</span>
                            {%for error in form.status.errors%}
                                <div class="invalid-feedback">{{error}}</div>
                              {%endfor%}
                        </div>

                        <div class="form-group">
                            <label>İl</label>
                            {{form.city}}
                            <span class="form-text text-muted">Dosya İlini Seçin.</span>
                            {%for error in form.city.errors%}
                                <div class="invalid-feedback">{{error}}</div>
                              {%endfor%}
                        </div>

                        <div class="form-group">
                            <label>İlçe</label>
                            {{form.district}}
                            <span class="form-text text-muted">Dosya İlçe Seçin.</span>
                            {%for error in form.district.errors%}
                                <div class="invalid-feedback">{{error}}</div>
                              {%endfor%}
                        </div>

                        <div class="form-group">
                            <label>Tarih</label>
                            <div class="input-group date" id="kt_datetimepicker_1" data-target-input="nearest">
                               {{form.date}}
                                <div class="input-group-append" data-target="#kt_datetimepicker_1" data-toggle="datetimepicker">
                                    <span class="input-group-text">
                                     <i class="ki ki-calendar"></i>
                                    </span>
                               </div>
                              </div>
                        </div>


                        <div class="form-group">
                            <label>Açıklama</label>
                            {{form.description}}
                            <span class="form-text text-muted">Açıklama Girin.</span>
                            {%for error in form.description.errors%}
                              <div class="invalid-feedback">{{error}}</div>
                            {%endfor%}
                        </div>

                        <div class="form-group">
                            <label>Müvekkil</label>
                            {{form.client}}
                            <span class="form-text text-muted">Müvekkil Ekleyin.</span>
                            {%for error in form.client.errors%}
                              <div class="invalid-feedback">{{error}}</div>
                            {%endfor%}
                        </div>

                        <div class="form-group">
                            <label>Ortak</label>
                            {{form.partner}}
                            <span class="form-text text-muted">Ortak Ekleyin.</span>
                            {%for error in form.partner.errors%}
                              <div class="invalid-feedback">{{error}}</div>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary mr-2" type="submit">Kaydet</button>
                        <button type="reset" onClick="window.location.reload();" class="btn btn-secondary">İptal</button>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Card-->

        </div>
    </div>

</div>
<!--end::Content-->
{% endblock %}

{% block script %}
<script src="/static/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js"></script>
<script src="/static/assets/js/city_district.js"></script>
<!--<script src="/static/assets/js/filteredselect.js"></script>-->
{{form.media}}
<script>

    $('#kt_datetimepicker_1').datetimepicker({
                    format: 'DD/MM/YYYY',
                    locale: 'tr'
                });

</script>
<script type="text/javascript">
    // django_select2 initialize
    window.onerror = function (msg) {
      $("body").attr("JSError", msg);
    }

</script>
<!--<script src="/static/assets/js/sweetalert_init.js"></script>-->
<!--<script src="/static/assets/plugins/custom/sweetalert2/dist/sweetalert2.min.js"></script>-->
  {% endblock %}