<style>
	.button__badge {
  background-color: #fa3e3e;
  border-radius: 50%;
  color: white;
  height: 20px;
  width: 20px;
  padding: 2px 3px;
  font-size: 10px;

  position: absolute; /* Position the badge within the relatively positioned button */
  top: 23px;
  right: -12px;
}
.ceyo {
  color: white;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  padding: 2px 5px; /* Add some padding so it looks nice */
}

</style>
<!--begin::Header-->
					<div id="kt_header" class="header flex-column header-fixed">

						<!--begin::Top-->
						<div class="header-top">

							<!--begin::Container-->
							<div class="container">

								<!--begin::Left-->
								<div class="d-none d-lg-flex align-items-center mr-3">

									<!--begin::Logo-->
									<a href="/case/case_list" class="mr-20">
										<img alt="Logo" src="/static/assets/media/project-logos/nasuh_logo.png" class="max-h-70px" />
									</a>

									<!--end::Logo-->
								</div>

								<!--end::Left-->

								<!--begin::Topbar-->
								<div class="topbar topbar-top" id="kt_header_topbar">
									<div class="topbar-item">
										<span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Merhaba, </span>
										<span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">{{request.user.full_name}}</span>
									</div>
									<!--begin::Search-->
									<div class="topbar-item mr-3 w-100 w-lg-auto justify-content-start">
										<div class="quick-search quick-search-inline w-auto w-lg-200px" id="kt_quick_search_inline">

											<!--begin::Form-->
											<form method="POST" action="/search" enctype="multipart/form-data" class="quick-search-form">
												{% csrf_token %}
												<div class="input-group rounded bg-secondary">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<span class="svg-icon svg-icon-lg">

																<!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<rect x="0" y="0" width="24" height="24" />
																		<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																		<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
																	</g>
																</svg>

																<!--end::Svg Icon-->
															</span>
														</span>
													</div>

													<input type="text" name="search" class="form-control" placeholder="Ara..." />

													<div class="input-group-append">
														<span class="input-group-text">
															<i class="quick-search-close ki ki-close icon-sm"></i>
														</span>
													</div>
												</div>
											</form>

											<!--end::Form-->

											<!--begin::Search Toggle-->
											<div id="kt_quick_search_toggle" data-toggle="dropdown" data-offset="10px, 10px"></div>

											<!--end::Search Toggle-->

											<!--begin::Dropdown-->
											<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-anim-up">
												<div class="quick-search-wrapper scroll" data-scroll="true" data-height="350" data-mobile-height="200"></div>
											</div>

											<!--end::Dropdown-->
										</div>
									</div>


									<!--end::Search-->
									<div class="dropdown show mr-3">
									<!--begin::Toggle-->
									<div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px" aria-expanded="true">
										<a href="" onclick="makeRead();">
										<div class="btn btn-icon btn-secondary pulse pulse-white">
											<span class="ceyo svg-icon svg-icon-lg">
												<!--begin::Svg Icon | path:/metronic/theme/html/demo11/dist/assets/media/svg/icons/Code/Compiling.svg-->
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24"></rect>
														<path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3"></path>
														<path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000"></path>
													</g>
												</svg>

												{%if is_not_read != 0%}
												<span class="button__badge font-weight-boldest">{{is_not_read}}</span>
												{%endif%}
												<!--end::Svg Icon-->
											</span>
											<span class="pulse-ring"></span>
										</div>
										</a>
									</div>
									<!--end::Toggle-->
									<!--begin::Dropdown-->
									<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg" x-placement="bottom-end" style="position: absolute; transform: translate3d(-292px, 65px, 0px); top: 0px; left: 0px; will-change: transform;">
										<form>
											<!--begin::Header-->
											<div class="d-flex flex-column pt-12 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url(/static/assets/media/misc/bg-1.jpg)">
												<!--begin::Title-->
												<h4 class="d-flex flex-center rounded-top">
													<span class="text-white">Kullanıcı Hatırlatmaları</span>
													<span class="btn btn-text btn-success btn-sm font-weight-bold btn-font-md ml-2">{{cp_events_count}} Yeni</span>
												</h4>
												<!--end::Title-->
												<!--begin::Tabs-->
												<ul class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-line-transparent-white nav-tabs-line-active-border-success mt-3 px-8" role="tablist">

													<li class="nav-item">
														<a class="nav-link  active show" data-toggle="tab" href="#topbar_notifications_notifications">Bugün</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#topbar_notifications_events" onclick="pastIsRead();">Geçmiş</a>
													</li>

												</ul>
												<!--end::Tabs-->
											</div>
											<!--end::Header-->
											<!--begin::Content-->
											<div class="tab-content">
												<!--begin::Tabpane-->
												<div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
													<!--begin::Scroll-->
													<!--begin::Nav-->
													<div class="navi navi-hover scroll my-4 ps" data-scroll="true" data-height="300" data-mobile-height="200" style="height: 300px; overflow: hidden;">
														{%for event in cp_events_result%}
														<!--begin::Item-->
														<a href="/user_calendar/{{event.slug}}/update" class="navi-item">
															<div class="navi-link">
																<div class="navi-icon mr-2">
																	<!--begin::Symbol-->
															<div class="symbol symbol-40 symbol-light-primary mr-5">

																<span class="symbol-label" style="background-color:{{event.backgroundColor}}">
																	<span class="svg-icon svg-icon-light  svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo11/dist/../src/media/svg/icons/Home/Alarm-clock.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24"/>
																			<path d="M7.14319965,19.3575259 C7.67122143,19.7615175 8.25104409,20.1012165 8.87097532,20.3649307 L7.89205065,22.0604779 C7.61590828,22.5387706 7.00431787,22.7026457 6.52602525,22.4265033 C6.04773263,22.150361 5.88385747,21.5387706 6.15999985,21.0604779 L7.14319965,19.3575259 Z M15.1367085,20.3616573 C15.756345,20.0972995 16.3358198,19.7569961 16.8634386,19.3524415 L17.8320512,21.0301278 C18.1081936,21.5084204 17.9443184,22.1200108 17.4660258,22.3961532 C16.9877332,22.6722956 16.3761428,22.5084204 16.1000004,22.0301278 L15.1367085,20.3616573 Z" fill="#000000"/>
																			<path d="M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z M19.068812,3.25407593 L20.8181344,5.00339833 C21.4039208,5.58918477 21.4039208,6.53893224 20.8181344,7.12471868 C20.2323479,7.71050512 19.2826005,7.71050512 18.696814,7.12471868 L16.9474916,5.37539627 C16.3617052,4.78960984 16.3617052,3.83986237 16.9474916,3.25407593 C17.5332781,2.66828949 18.4830255,2.66828949 19.068812,3.25407593 Z M5.29862906,2.88207799 C5.8844155,2.29629155 6.83416297,2.29629155 7.41994941,2.88207799 C8.00573585,3.46786443 8.00573585,4.4176119 7.41994941,5.00339833 L5.29862906,7.12471868 C4.71284263,7.71050512 3.76309516,7.71050512 3.17730872,7.12471868 C2.59152228,6.53893224 2.59152228,5.58918477 3.17730872,5.00339833 L5.29862906,2.88207799 Z" fill="#000000" opacity="0.3"/>
																			<path d="M11.9630156,7.5 L12.0475062,7.5 C12.3043819,7.5 12.5194647,7.69464724 12.5450248,7.95024814 L13,12.5 L16.2480695,14.3560397 C16.403857,14.4450611 16.5,14.6107328 16.5,14.7901613 L16.5,15 C16.5,15.2109164 16.3290185,15.3818979 16.1181021,15.3818979 C16.0841582,15.3818979 16.0503659,15.3773725 16.0176181,15.3684413 L11.3986612,14.1087258 C11.1672824,14.0456225 11.0132986,13.8271186 11.0316926,13.5879956 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z" fill="#000000"/>
																		</g>
																	</svg><!--end::Svg Icon--></span>
																</span>

															</div>
															<!--end::Symbol-->
																</div>
																<div class="navi-text">
																	<div class="font-weight-bold">{{event.title}}
																		{%if not event.is_read%}
																	<i class="flaticon2-correct text-success icon-md ml-2"></i>
																		{%endif%}
																	</div>
																	<div class="text-muted">{{event.start}}</div>
																</div>
															</div>
														</a>
														<!--end::Item-->
														{%endfor%}


													<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
												</div>
													<!--end::Scroll-->

												</div>
												<!--end::Tabpane-->
												<!--begin::Tabpane-->
												<div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
													<!--begin::Nav-->
													<div class="navi navi-hover scroll my-4 ps" data-scroll="true" data-height="300" data-mobile-height="200" style="height: 300px; overflow: hidden;">
														{%for event in events_past%}
														<!--begin::Item-->
														<a href="/user_calendar/{{event.slug}}/update" class="navi-item">
															<div class="navi-link">
																<div class="navi-icon mr-2">
																	<!--begin::Symbol-->
															<div class="symbol symbol-40 symbol-light-primary mr-5">

																<span class="symbol-label" style="background-color:{{event.backgroundColor}}">
																	<span class="svg-icon svg-icon-light  svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo11/dist/../src/media/svg/icons/Home/Alarm-clock.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24"/>
																			<path d="M7.14319965,19.3575259 C7.67122143,19.7615175 8.25104409,20.1012165 8.87097532,20.3649307 L7.89205065,22.0604779 C7.61590828,22.5387706 7.00431787,22.7026457 6.52602525,22.4265033 C6.04773263,22.150361 5.88385747,21.5387706 6.15999985,21.0604779 L7.14319965,19.3575259 Z M15.1367085,20.3616573 C15.756345,20.0972995 16.3358198,19.7569961 16.8634386,19.3524415 L17.8320512,21.0301278 C18.1081936,21.5084204 17.9443184,22.1200108 17.4660258,22.3961532 C16.9877332,22.6722956 16.3761428,22.5084204 16.1000004,22.0301278 L15.1367085,20.3616573 Z" fill="#000000"/>
																			<path d="M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z M19.068812,3.25407593 L20.8181344,5.00339833 C21.4039208,5.58918477 21.4039208,6.53893224 20.8181344,7.12471868 C20.2323479,7.71050512 19.2826005,7.71050512 18.696814,7.12471868 L16.9474916,5.37539627 C16.3617052,4.78960984 16.3617052,3.83986237 16.9474916,3.25407593 C17.5332781,2.66828949 18.4830255,2.66828949 19.068812,3.25407593 Z M5.29862906,2.88207799 C5.8844155,2.29629155 6.83416297,2.29629155 7.41994941,2.88207799 C8.00573585,3.46786443 8.00573585,4.4176119 7.41994941,5.00339833 L5.29862906,7.12471868 C4.71284263,7.71050512 3.76309516,7.71050512 3.17730872,7.12471868 C2.59152228,6.53893224 2.59152228,5.58918477 3.17730872,5.00339833 L5.29862906,2.88207799 Z" fill="#000000" opacity="0.3"/>
																			<path d="M11.9630156,7.5 L12.0475062,7.5 C12.3043819,7.5 12.5194647,7.69464724 12.5450248,7.95024814 L13,12.5 L16.2480695,14.3560397 C16.403857,14.4450611 16.5,14.6107328 16.5,14.7901613 L16.5,15 C16.5,15.2109164 16.3290185,15.3818979 16.1181021,15.3818979 C16.0841582,15.3818979 16.0503659,15.3773725 16.0176181,15.3684413 L11.3986612,14.1087258 C11.1672824,14.0456225 11.0132986,13.8271186 11.0316926,13.5879956 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z" fill="#000000"/>
																		</g>
																	</svg><!--end::Svg Icon--></span>
																</span>

															</div>
															<!--end::Symbol-->
																</div>
																<div class="navi-text">
																	<div class="font-weight-bold">{{event.title}}
																		{%if not event.is_read%}
																	<i class="flaticon2-correct text-success icon-md ml-2"></i>
																		{%endif%}
																	</div>
																	<div class="text-muted">{{event.start}}</div>
																</div>
															</div>
														</a>
														<!--end::Item-->
														{%endfor%}


													<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
												</div>
												</div>
												<!--end::Tabpane-->
											</div>
											<!--end::Content-->
										</form>
									</div>
									<!--end::Dropdown-->
								</div>
								<div class="topbar-item mr-3">
									<a href="/user_calendar/calendar" data-toggle="tooltip" data-placement="top" title="Takvim">
										<div class="btn btn-icon btn-secondary pulse pulse-white">
											<span class="svg-icon svg-icon-lg"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-02-01-052524/theme/html/demo11/dist/../src/media/svg/icons/Layout/Layout-top-panel-3.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="24" height="24"/>
													<path d="M3,4 L20,4 C20.5522847,4 21,4.44771525 21,5 L21,7 C21,7.55228475 20.5522847,8 20,8 L3,8 C2.44771525,8 2,7.55228475 2,7 L2,5 C2,4.44771525 2.44771525,4 3,4 Z M3,10 L13,10 C13.5522847,10 14,10.4477153 14,11 L14,19 C14,19.5522847 13.5522847,20 13,20 L3,20 C2.44771525,20 2,19.5522847 2,19 L2,11 C2,10.4477153 2.44771525,10 3,10 Z" fill="#000000"/>
													<rect fill="#000000" opacity="0.3" x="16" y="10" width="5" height="10" rx="1"/>
												</g>
											</svg><!--end::Svg Icon--></span>
											<span class="pulse-ring"></span>
										</div>
										</a>
									</div>
								<div class="topbar-item">
									<a href="/auth/logout">
										<div class="btn btn-icon btn-icon-mobile btn-hover-dark w-auto btn-clean d-flex align-items-center btn-md px-2">
											<span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
												<span class="">Çıkış</span>
											</span>
										</div>
									</a>
								</div>

								</div>

								<!--end::Topbar-->
							</div>

							<!--end::Container-->
						</div>

						<!--end::Top-->

						<!--begin::Bottom-->
						<div class="header-bottom" id="kt_header_bottom">

							<!--begin::Container-->
							<div class="container d-flex flex-column">

								<!--begin::Tab Navs(for desktop mode)-->
								<ul class="header-tabs nav flex-column-auto" role="tablist">

									<!--begin::Item-->
									<li class="nav-item">
										<a href="/case/case_list" class="nav-link {%if 'case' in request.path%} active {%endif%}" data-target="#kt_header_tab_1" role="tab">
											<span class="nav-title text-uppercase">Dava</span>
											<span class="nav-desc">Dosya &amp; Müvekkil</span>
										</a>
									</li>

									<!--end::Item-->

									<!--begin::Item-->
									<li class="nav-item">
										<a href="/office/1/view_office" class="nav-link {%if 'office' in request.path%} active {%endif%}" data-target="#kt_header_tab_2">
											<span class="nav-title text-uppercase">Ofis</span>
											<span class="nav-desc">Maaş &amp; Fatualar</span>
										</a>
									</li>

									<!--end::Item-->

									<!--begin::Item-->
									<li class="nav-item">
										<a href="/tax/1/view_tax" class="nav-link {%if 'tax' in request.path%} active {%endif%}" data-target="#kt_header_tab_3" role="tab">
											<span class="nav-title text-uppercase">Vergi</span>
											<span class="nav-desc">SGK &amp; Stopaj</span>
										</a>
									</li>

									<!--end::Item-->

									<!--begin::Item-->
									<li class="nav-item">
										<a href="/other/1/view_other" class="nav-link {%if 'other' in request.path%} active {%endif%}" data-target="#kt_header_tab_4" role="tab">
											<span class="nav-title text-uppercase">DİĞER</span>
											<span class="nav-desc">Vekalet &amp; Tazminat</span>
										</a>
									</li>

									<!--end::Item-->

									<!--begin::Item-->
									<li class="nav-item">
										<a href="/report/report_list" class="nav-link {%if 'report' in request.path%} active {%endif%}" data-target="#kt_header_tab_5" role="tab">
											<span class="nav-title text-uppercase">Raporlar</span>
											<span class="nav-desc">Gün Sonu &amp; Ay Sonu</span>
										</a>
									</li>

									<!--end::Item-->
								</ul>

								<!--begin::Tab Navs-->

								<!--begin::Header Menu Wrapper-->
								<div class="header-navs header-navs-left flex-column-fluid" id="kt_header_navs">

									<!--begin::Tab Content-->
									<div class="tab-content">

										<!--begin::Tab Pane-->
										<div class="tab-pane justify-content-between px-4 px-lg-0 {%if 'case' in request.path%} show active {%endif%}" id="kt_header_tab_1">

											<div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">

												<!--begin::Actions-->
												<a href="/case/case_list" class="btn btn-light font-weight-bold mr-3 my-2 my-lg-0">Dava Listesi</a>
												<a href="/case/client_list" class="btn btn-light font-weight-bold mr-3 my-2 my-lg-0">Müvekkli Listesi</a>
												<a href="/case/partner_list" class="btn btn-light font-weight-bold mr-3 my-2 my-lg-0">Ortak Listesi</a>
												<a href="/case/expense_list" class="btn btn-light font-weight-bold mr-3 my-2 my-lg-0">Dava Gelir Giderleri</a>

												<!--end::Actions-->
											</div>
											<div class="d-flex align-items-center">

												<!--begin::Actions-->
<!--end::Actions-->
											</div>

										</div>

										<!--begin::Tab Pane-->

										<!--begin::Tab Pane-->
										<div class="tab-pane justify-content-between px-4 px-lg-0 {%if 'office' in request.path%} show active {%endif%}" id="kt_header_tab_2">
											<div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">

												<!--begin::Actions-->
												<a href="/office/1/view_office" class="btn btn-light font-weight-bold mr-3 my-2 my-lg-0">Ofis</a>
												<a href="/office/employee_list" class="btn btn-light font-weight-bold mr-3 my-2 my-lg-0">Çalışanlar</a>
												<a href="/office/expense_list" class="btn btn-light font-weight-bold mr-3 my-2 my-lg-0">Ofis Gelir Giderleri</a>

												<!--end::Actions-->
											</div>
											<div class="d-flex align-items-center">

												<!--begin::Actions-->
<!--end::Actions-->
											</div>
										</div>

										<!--begin::Tab Pane-->
										<div class="tab-pane justify-content-between px-4 px-lg-0 {%if 'tax' in request.path%} show active {%endif%}" id="kt_header_tab_3">
											<div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">

												<!--begin::Actions-->
												<a href="/tax/1/view_tax" class="btn btn-light font-weight-bold mr-3 my-2 my-lg-0">Vergi</a>
												<a href="/tax/expense_list" class="btn btn-light font-weight-bold mr-3 my-2 my-lg-0">Vergi Gelir Giderleri</a>

												<!--end::Actions-->
											</div>
											<div class="d-flex align-items-center">

												<!--begin::Actions-->
<!--end::Actions-->
											</div>
										</div>

										<!--begin::Tab Pane-->
										<div class="tab-pane justify-content-between px-4 px-lg-0 {%if 'other' in request.path%} show active {%endif%}" id="kt_header_tab_4">
											<div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">

												<!--begin::Actions-->
												<a href="/other/1/view_other" class="btn btn-light font-weight-bold mr-3 my-2 my-lg-0">Diğer</a>
												<a href="/other/expense_list" class="btn btn-light font-weight-bold mr-3 my-2 my-lg-0">Diğer Gelir Giderler</a>

												<!--end::Actions-->
											</div>
											<div class="d-flex align-items-center">

												<!--begin::Actions-->
<!--end::Actions-->
											</div>
										</div>

										<!--begin::Tab Pane-->
										<div class="tab-pane justify-content-between px-4 px-lg-0 {%if 'report' in request.path%} show active {%endif%}" id="kt_header_tab_5">
											<div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center">

												<!--begin::Actions-->
												<a href="/report/get_with_day" class="btn btn-dark font-weight-bold mr-3 my-2 my-lg-0">Tarihe Göre Al</a>

												<!--end::Actions-->
											</div>
											<div class="d-flex align-items-center">

											</div>
										</div>

										<!--begin::Tab Pane-->


									</div>

									<!--end::Tab Content-->
								</div>

								<!--end::Header Menu Wrapper-->
							</div>

							<!--end::Container-->
						</div>

						<!--end::Bottom-->
					</div>
{%csrf_token%}
					<!--end::Header-->
<script>
	function makeRead(){
		$.ajax({
			url: "/user_calendar/is_read",
			type: "POST",
			data:{

				csrfmiddlewaretoken : $("[name='csrfmiddlewaretoken']").val(),
			},
			success: function (result){
				if(result["result"]){
					return true;
				}
				else{
					errorMessageWithReload(result["message"]);
				}
			},
			error: function (jqXHR, exception){
				var err = eval("(" + jqXHR.responseText + ")");
				console.log(err);
			 }
		});

	}
	function pastIsRead(){
		$.ajax({
			url: "/user_calendar/past_is_read",
			type: "POST",
			data:{

				csrfmiddlewaretoken : $("[name='csrfmiddlewaretoken']").val(),
			},
			success: function (result){
				if(result["result"]){
					return true;
				}
				else{
					errorMessageWithReload(result["message"]);
				}
			},
			error: function (jqXHR, exception){
				var err = eval("(" + jqXHR.responseText + ")");
				console.log(err);
			 }
		});

	}
</script>