<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Sisteme hoşgeldin.</p>
    <p>Kaydını tamamlayıp Sisteme giriş yapabilmek için aşağıdaki bağlantıyı tıklayın.</p>
    <p><a href="{{email_server}}/auth/login_activation?key={{key}}"><button style="font-size: 14px;margin-top: 30px;font-weight: 400;' 'font-family: Roboto, sans-serif;color: #fff;background: #ed2a26;' 'border-radius: 20px;text-align: center;border: 0;height: 40px;">Kayıt Ol</button></a></p>
    <a href="{{email_server}}/auth/login_activation?key={{key}}">
      Aktivasyon linki:{{email_server}}/auth/login_activation?key={{key}}
    </a>
  </body>
</html>
