 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Şifre Yenileme</p>
    <p>Şifreniz sıfırlamıştır. Yenisini belirlemek için tıklayın.</p>
    <p>
      <a href="{{email_server}}/auth/password_recovery/{{key}}">
        <button style="font-size: 14px;margin-top: 30px;font-weight: 400; font-family: Roboto, sans-serif;color: #fff;background: #ed2a26;border-radius: 20px;text-align: center;border: 0;height: 40px;">Şifre Belirle</button>
      </a>
    </p>
    <p>
      Link: <a href="{{email_server}}/auth/password_recovery/{{key}}">{{email_server}}/auth/password_recovery/{{key}}</a>
    </p>
  </body>
</html>
