{% extends "authentication/base.html" %}

{% block content %}


<!--begin::Signin-->
<div class="login-form login-signin" style="display:block;">
    <!--begin::Form-->
    <form class="form" action="/auth/password_recovery/{{key}}" method="POST" novalidate="novalidate" >
        {%csrf_token%}
        <!--begin::Title-->
        <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Parola Yenileme</h3>
            <span class="text-muted font-weight-bold font-size-h4">
            <a href="javascript:;" id="kt_login_signup" class="text-primary font-weight-bolder"></a></span>
        </div>
        <!--begin::Title-->
        <!--begin::Form group-->
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Parola</label>
            {{form.new_password1}}
            {%for error in form.new_password1.errors%}
            <div class="fv-plugins-message-container">
                    <div data-field="fullname" data-validator="notEmpty" class="fv-help-block">
                        {{error}}
                    </div>
                </div>
            {%endfor%}
        </div>
        <!--end::Form group-->
        <!--begin::Form group-->
        <div class="form-group">
            <label class="font-size-h6 font-weight-bolder text-dark pt-5">Parola Tekrar</label>
            {{form.new_password2}}
            {%for error in form.new_password2.errors%}
            <div class="fv-plugins-message-container">
                    <div data-field="fullname" data-validator="notEmpty" class="fv-help-block">
                        {{error}}
                    </div>
                </div>
            {%endfor%}
        </div>
        <!--end::Form group-->
        <!--begin::Action-->
        <div class="pb-lg-0 pb-5">
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Kaydet</button>

        </div>
        <!--end::Action-->
    </form>
    <!--end::Form-->
</div>
<!--end::Signin-->


{%endblock%}