{% extends "home/base.html" %}
{% load humanize %}

{% block head %}
{{form.media}}
{% endblock %}

{% block content %}
<!--end::Subheader-->
<div class="content flex-column-fluid" id="kt_content">
    <div class="row">
        <div class="col-md-12">

            <!--begin::Card-->
            <div class="card card-custom gutter-b example example-compact">
                <div class="card-header">
                    <h3 class="card-title">Hesap Hareketi Oluştur</h3>

                </div>
                <!--begin::Form-->
                    <form action="/transactions/{{instance.slug}}/new" method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                    <div class="card-body">

                        <div class="form-group">
                            <label>Gelir-Gider Türü
                            <span class="text-danger">*</span></label>
                            {{form.expense}}
                            {%for error in form.expense.errors%}
                            <div class="validated">
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            </div>
                            {%endfor%}
                            <span class="form-text text-muted">Gelir Gider Türünü Seçin.</span>
                        </div>

                        <div class="form-group">
                            <label>Miktar
                            <span class="text-danger">*</span></label>
                            {{form.amount}}
                            {%for error in form.amount.errors%}
                            <div class="validated">
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            </div>
                            {%endfor%}
                            <span class="form-text text-muted">Miktarı Girin.</span>
                        </div>

                        <div class="form-group">
                            <label>Türü
                            <span class="text-danger">*</span></label>
                            {{form.type}}
                            {%for error in form.title.errors%}
                            <div class="validated">
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            </div>
                            {%endfor%}
                            <span class="form-text text-muted">Türünü Seçin.</span>
                        </div>

                         <div class="form-group">
                            <label>Tarih</label>
                            <div class="input-group date" id="kt_datetimepicker_1" data-target-input="nearest">
                               {{form.date}}
                                <div class="input-group-append" data-target="#kt_datetimepicker_1" data-toggle="datetimepicker">
                                    <span class="input-group-text">
                                     <i class="ki ki-calendar"></i>
                                    </span>
                               </div>
                              </div>
                        </div>


                        <div class="form-group">
                            <label>Açıklama
                            <span class="text-danger"></span></label>
                            {{form.description}}
                            {%for error in form.description.errors%}
                            <div class="validated">
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            </div>
                            {%endfor%}
                            <span class="form-text text-muted">Açıklama Girin.</span>
                        </div>




                        <!--begin: Code-->
                        <div class="example-code mt-10">
                            <div class="example-highlight">
                                <pre style="height:400px">
                            <code class="language-html">
                            &lt;div class="card card-custom"&gt;
                            &lt;div class="card-header"&gt;
                            &lt;h3 class="card-title"&gt;
                            Base Controls
                            &lt;/h3&gt;
                            &lt;div class="card-toolbar"&gt;
                            &lt;div class="example-tools justify-content-center"&gt;
                            &lt;span class="example-toggle" data-toggle="tooltip" title="View code"&gt;&lt;/span&gt;
                            &lt;span class="example-copy" data-toggle="tooltip" title="Copy code"&gt;&lt;/span&gt;
                            &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;!--begin::Form--&gt;
                            &lt;form&gt;
                            &lt;div class="card-body"&gt;
                            &lt;div class="form-group mb-8"&gt;
                            &lt;div class="alert alert-custom alert-default" role="alert"&gt;
                            &lt;div class="alert-icon"&gt;&lt;i class="flaticon-warning text-primary"&gt;&lt;/i&gt;&lt;/div&gt;
                            &lt;div class="alert-text"&gt;
                            The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional classes.
                            &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="form-group"&gt;
                            &lt;label&gt;Email address &lt;span class="text-danger"&gt;*&lt;/span&gt;&lt;/label&gt;
                            &lt;input type="email" class="form-control"  placeholder="Enter email"/&gt;
                            &lt;span class="form-text text-muted"&gt;We'll never share your email with anyone else.&lt;/span&gt;
                            &lt;/div&gt;
                            &lt;div class="form-group"&gt;
                            &lt;label for="exampleInputPassword1"&gt;Password &lt;span class="text-danger"&gt;*&lt;/span&gt;&lt;/label&gt;
                            &lt;input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"/&gt;
                            &lt;/div&gt;
                            &lt;div class="form-group"&gt;
                            &lt;label&gt;Static:&lt;/label&gt;
                            &lt;p class="form-control-plaintext text-muted"&gt;email@example.com&lt;/p&gt;
                            &lt;/div&gt;
                            &lt;div class="form-group"&gt;
                            &lt;label for="exampleSelect1"&gt;Example select &lt;span class="text-danger"&gt;*&lt;/span&gt;&lt;/label&gt;
                            &lt;select class="form-control" id="exampleSelect1"&gt;
                            &lt;option&gt;1&lt;/option&gt;
                            &lt;option&gt;2&lt;/option&gt;
                            &lt;option&gt;3&lt;/option&gt;
                            &lt;option&gt;4&lt;/option&gt;
                            &lt;option&gt;5&lt;/option&gt;
                            &lt;/select&gt;
                            &lt;/div&gt;
                            &lt;div class="form-group"&gt;
                            &lt;label for="exampleSelect2"&gt;Example multiple select &lt;span class="text-danger"&gt;*&lt;/span&gt;&lt;/label&gt;
                            &lt;select multiple="" class="form-control" id="exampleSelect2"&gt;
                            &lt;option&gt;1&lt;/option&gt;
                            &lt;option&gt;2&lt;/option&gt;
                            &lt;option&gt;3&lt;/option&gt;
                            &lt;option&gt;4&lt;/option&gt;
                            &lt;option&gt;5&lt;/option&gt;
                            &lt;/select&gt;
                            &lt;/div&gt;
                            &lt;div class="form-group mb-1"&gt;
                            &lt;label for="exampleTextarea"&gt;Example textarea &lt;span class="text-danger"&gt;*&lt;/span&gt;&lt;/label&gt;
                            &lt;textarea class="form-control" id="exampleTextarea" rows="3"&gt;&lt;/textarea&gt;
                            &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="card-footer"&gt;
                            &lt;button type="reset" class="btn btn-primary mr-2"&gt;Submit&lt;/button&gt;
                            &lt;button type="reset" class="btn btn-secondary"&gt;Cancel&lt;/button&gt;
                            &lt;/div&gt;
                            &lt;/form&gt;
                            &lt;!--end::Form--&gt;
                            &lt;/div&gt;
                            </code>
                            </pre>
                            </div>
                        </div>
                        <!--end: Code-->
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary mr-2" type="submit">Kaydet</button>
                        <button type="reset" onClick="window.location.reload();" class="btn btn-secondary">İptal</button>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Card-->

        </div>
    </div>

</div>
<!--end::Content-->
{% endblock %}

{% block script %}
<script src="/static/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js"></script>

<script>

    $('#kt_datetimepicker_1').datetimepicker({
                    format: 'DD/MM/YYYY',
                    locale: 'tr'
                });

</script>
  {% endblock %}